:root {
  --dark-tone: #0E1C1F;
  --light-tone: #f2f2f2;
  --highlight-color: #2AD9E6;
  --white: #fefefe;
  --dark-blue: #18b5c0;
}

/* headings and paragraphs */

.h3Padded{
  padding-left: 0px;
}

.whiteBold{
  color: var(--dark-tone);
  padding-left: 0px;
  background-color: #2AD9E6;
  padding-bottom: 20px;
}

.whiteBoldTwo{
  padding-top: 0;
  color: var(--highlight-color);
  padding-left: 0px;
}

#welcomeSH{
  color: var(--dark-tone);
  padding-right: 5%;


}

#dailyWord{
  font-family: 'Archivo Black', sans-serif;
  color: var(--highlight-color);
}

.whiteBC{
  color: var(--white);
}


h1{
  color: var(--white);
  font-family: 'Archivo Black', sans-serif;
  /* padding-left: 60px; */


}

h2{
  color: var(--dark-tone);
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 60px;

}

h3{
  color: var(--highlight-color);
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5%;



}

h5{
  font-family: Arial, Helvetica, sans-serif;
  color: var(--highlight-color);
}

p{
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark-tone);
  padding-bottom: 3%;
  max-width: 700px;
  text-align: center;
  margin: auto;
  padding-left: 15%;
  padding-right: 15%;
}

#storyPgContent{
  padding-bottom: 3%;
  max-width: 700px;
  text-align: center;
  margin: auto;
  padding-left: 15%;
  padding-right: 15%;

}

.blackDiv{
  background-color: var(--dark-tone);
  padding-bottom: 3em;
}

#callToAction{
  display: grid;
  text-decoration: none;
  color: var(--dark-tone);
  background-color: var(--white);
  font-size: 1.2em;
  padding: 1rem;
  position: static;
  top: 80%;
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  max-width: 100px;
  font-family: Arial, Helvetica, sans-serif;

}

#callToAction:hover {
  background-color: var(--dark-tone);
  color: var(--highlight-color);
}



/* ============================================================================================= */

hr{

}

.fa-bars{
  color: var(--white);
}

/* Nav bar ===================================================================================== */

.topNav {
  background-color: var(--dark-tone);
  overflow: hidden;
  /* padding-top: 30px;
  padding-bottom: 30px; */



}

/* .hMenu{
  display: none;

} */

.links{
  color: var(--highlight-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;

}

li {
  list-style: none;
}



nav{
  padding-bottom: 10px;
}

.topNav a {
  float: right;
  color: aliceblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 40px;

}

.hamburgerMenu{
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;

  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

header{
  border-bottom: 1px solid var(--light-tone);
}


/* logo ======================================================================================== */

#logo {
  float: left;
  position: absolute;
  text-align: center;

}

#logo {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 60px;
  max-width: 400px;
  min-width: 150px;
}

#welcomeLogo{
  min-width: 70%;
  padding-left: 60px;
  padding-right: 60px;
}



/* header image ================================================================================ */

#lrgHeader {
  background-image: url(InkBg.svg);
  height: 40vw;
  /* width: 100%;  */
  background-size: contain;
  background-color: rgb(240, 248, 255);
  position: relative;
  text-align: right;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end:4;
  background-size: cover;
  background-repeat: no-repeat;



}

.headerGrid{

  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 25% 25% 25% 25% ;
  background-color: var(--highlight-color);


}

#headerSideBar {
  grid-row-start: 2;

}


.topNav a:hover {
  background-color: var(--highlight-color);
  color: var(--dark-tone);
}

.topNav a:active{
  background-color: var(--highlight-color);
  color: var(--dark-tone);

}

.centeredContent{
  display: grid;
  grid-template-columns: 1fr 75% 1fr;
  grid-template-rows: 80px 1fr;
  background-color: var(--light-tone);
  padding-bottom: 60px;
}

.centered{
  grid-column-start: 2;
  grid-row-start: 2;
  background-color: var(--white);
  padding-bottom: 70px;
  /* padding-top: 50px; */
  width: 75vw;
  /* position: ; */
  text-align: center;

  margin: auto;
}

#writerPic{
  /* grid-column-start: 2;
  grid-row-start: 1;
  grid-column-end: 2;
  background-color: var(--white); */

  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;


}



#smallHeader {
  background-image: url(InkBgSmall.svg);
  height: 10vh;
  width: 1000px;
  max-width: 2000px;
  background-size: cover;
  background-color: var(--light-tone);
  background-repeat: no-repeat;

}




.welcome {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* footer */

footer{
  background-color: var(--dark-tone);
  height: 15vh;
  display: flex;
  justify-content: center;
}

#bottomLogo {
  padding-left: 60px;
  max-width: 400px;
  min-width: 150px;

  position: absolute;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}








/* Story Page */

/* scroll bar */

div.tableScroll{
  display: flex;
  background-color: var(--light-tone);
    border: 1px solid var(--dark-blue);
    border-radius: 4px 0 4px 0;
    color: #3B3C3E;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 10px 7px 5px;

    max-width: 600px;
    max-height: 600px;
    overflow:scroll;
    overflow-y:scroll;
}

td{
  max-width: 100px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  flex: 0 0 auto;
  padding-left: 30px;
padding-right: 30px;
padding-top: 10px;
padding-bottom: 10px;
}

tr{
  max-width: 100px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  flex: 0 0 auto;
}

th{
color: var(--white);
max-width: 100px;
font-family: Arial, Helvetica, sans-serif;
text-align: left;
flex: 0 0 auto;
padding-left: 30px;
padding-right: 30px;
padding-top: 10px;
padding-bottom: 10px;
background-color: var(--highlight-color);

}


#storyPgGrid{
  display: grid;
  grid-template-columns: 25vw 1fr 1fr 1fr 1fr;
}

#characters{
  grid-column-start: 2;
  grid-column-end: 5;
  min-width: 200%;

}


/* Chapter Page */

#chapters{
  grid-column-start: 2;
  grid-column-end: 5;
  min-width: 200%;

}

/* Notes Page */

#notes{
  grid-column-start: 2;
  grid-column-end: 5;
  min-width: 200%;

}

/* sidebar */

.storySidebar{
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: var(--highlight-color);
  width: 20vw;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

.tabs{
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 20vw;
}

.storySidebar button{
background-color: inherit;
  float: left;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.storySidebar button:hover{
  background-color: var(--dark-tone);
  color: var(--highlight-color);
}

.storySidebar button.active{
  background-color: var(--dark-tone);
  color: var(--white)
}

.tabContent{
  display: none;
  padding: 6px 12px;

}





label {
  font-family: Arial, Helvetica, sans-serif;

}

.button{
  border: 1px solid var(--highlight-color);
  color: var(--dark-tone);
  background-color: var(--light-tone);
}

.button:hover{
  border: 1px solid var(--dark-tone);
  background-color: var(--highlight-color);
  color: var(--white);

}


/* .chInfo{
  width: 60vw;
} */



input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--highlight-color);
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  margin-left: auto;
  margin-right: auto;


}
#summary{
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  box-sizing: border-box;
}

#note{
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  box-sizing: border-box;
}

#fName{
  width: 60vw;
}

#chapter{
  width: 60vw;
}

#noteTitle{
  width: 60vw;
}


#name{
  width: 60vw;
}

#age{
  width: 60vw;
}

#gender{
  width: 60vw;
}

#species{
  width: 60vw;
}
#nationality{
  width: 60vw;
}

#occupation{
  width: 60vw;
}

#religion{
  width: 60vw;
}

#hair{
  width: 60vw;
}

#eye{
  width: 60vw;
}

#phone{
  width: 60vw;
}

#buttonS{
  margin-left: auto;
  margin-right: auto;
}


input[type=tel], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--highlight-color);
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  margin-left: auto;
  margin-right: auto;
}

input[type=email], select, textarea {
  width: 60vw;
  padding: 12px;
  border: 1px solid var(--highlight-color);
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

input[type=submit] {
  padding: 12px 20px;
  border: 1px solid var(--highlight-color);

  cursor: pointer;
  margin-left: 0;
  margin-right: auto;
  display: block;
  color: var(--dark-tone);
  background-color: var(--light-tone);


}

input[type=submit]:hover {
  background-color: var(--highlight-color);
  color: var(--white);
  border: 1px solid var(--dark-tone);
}


#fs-frm-inputs{
  background-color: var(--dark-tone);
  max-width: 25%;
border: none;

margin-left: auto;
margin-right: auto;

}

.blueDiv{
background-color: var(--highlight-color);

}

.fFields{
background-color: var(--dark-tone);
font-family: Arial, Helvetica, sans-serif;
color: var(--highlight-color);
margin-left: 15px;
margin-right: 15px;
}

.fHeadings{
  color: var(--highlight-color);

}

.fa-brands{
  color: var(--highlight-color);
  width: 4vw;
font-size: 200%;
text-decoration: none;
}

.centeredBlack{
  grid-column-start: 2;
  grid-row-start: 2;
  background-color: var(--dark-tone);
  padding-bottom: 70px;
  /* padding-top: 50px; */
  width: 75vw;
  /* position: ; */
  text-align: center;

  margin: auto;
}




.contactForm {
text-align: center;



}

#contactMe{
  text-align: center;
  padding: 1%;
  color: var(--dark-tone);
}

/* a:hover {
  filter: brightness(-20);
} */





@media (min-width: 750px) {


  /* nav > .fa-bars {
    display: none;
  } */

  nav > ul {
    display: flex;
    justify-content: right;
    padding: 0 0;
    flex-direction: row-reverse;
  }

  nav > ul > li {
    /* display: inline-block; */
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    border-radius: 15px;

  }

  nav > .fa-bars {
    display: none;
  }


}


@media only screen and (max-width:750px){

  /* pizza  */
  .hidden--mobile {
    display: none !important;
  }

  #callToAction{
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 0 0;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
  }

  #logo{
    display: flex;
    flex-direction: column;
    padding: 0 0;
    padding-top: 1rem;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
    flex-direction: column-reverse;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }
/* pizza */

  #hiddenMobile{
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);

}

/* #navResponse{
  display: none;
} */

  #hiddenMobile .active{
    left: 0;
  }

  .mobile{
    margin: 2.5rem 0;
  }

  .hamburgerMenu{
    display: block;
    cursor: pointer;
  }

  .hamburgerMenu.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburgerMenu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburgerMenu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}



@media (max-width:650px){

  /* .topNav #hidden--mobile{
    display: none;
  } */


  #lrgHeader {
    background-image: url(InkBg.svg);

    max-width: 400px;
    background-color: var(--light-tone);
    position: relative;
    text-align: right;

  }

  h1{
    color: var(--highlight-color);
    font-family: 'Archivo Black', sans-serif;
    padding-left: 60px;
    font-size: 22px;

  }

  h2{
    color: var(--dark-tone);
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 60px;
    font-size: 15px;


  }

  h3{
    color: var(--highlight-color);
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 60px;
    font-size: 15px;

  }

  p{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark-tone);
    padding-left: 60px;
    max-width: 600px;
    text-align: justify;
    font-size: 14px;
  }


  /* .hidden--mobile {
    display: none;
  } */


  /* nav{
    padding-bottom: 50px; may need to un comment



  } */

  #lrgHeader {
    display: none;
  }

  #welcomeLogo{
    min-width: 100%;
    padding-left: 50%;
    padding-right: 50%;
    padding-bottom: 50%;
  }

  #welcomeSH{
    display: none;
    color: var(--dark-tone);
    text-align: center;


  }

  /* .hamburgerMenu{
    display: block;
  } */

}


